@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans');
@font-face {
    font-family: "EA Sports Covers SC";
    src: url(../fonts/EASportsCoversSC.ttf) format("truetype");
}
body {
    font-family: "Lato", sans-serif;
}

.navbar {
    background-color: #323232;
    margin-bottom: 0;
}
.top-bar, .down-bar {
    padding-top: 10px;
}

.top-bar {
    font-size: 12px;
    color: #B6B6B6;
}

.down-bar {
    font-weight: bolder;
    font-size: 14px;
    color: #FFFFFF;
    padding-top: 10px;
    line-height: 68px;
}

.down-icon {
    font-size: 12px;
    color: #8c8c8c;
    padding-left: 3px;
}

.logo {
    font-family: "EA Sports Covers SC", sans-serif;    
    font-weight: normal;
    font-style: italic;
    font-size: 68px;
    color: #F7595E;
    line-height: 1em;
}

.logo span {
    color: #FFFFFF;
}

.search {
    color: #FFFFFF;
    font-size: 20px;
}
.search span {
    color: #B6B6B6;
    font-size: 12px;
    font-weight: normal;
    border-bottom: 2px solid #B6B6B6;
    padding-bottom: 5px;
    padding-right: 20px;
}

.cart-icon {
    font-size: 30px;
    color: #F7595E;
}

.cart-desc {   
    font-size: 10px; 
    color: #FFFFFF;
    line-height: 1em;
    padding-top: 25px;
}

.vitrine {
    padding-bottom: 20px;
}

.car {
    padding-bottom: 40px;
}

.cars {
    padding-bottom: 20px;
}

.mais-desejados, .newsletter {    
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.mais-desejados > div, .newsletter > div, .footer-bar > div { 
    padding-bottom: 20px;
}

.mais-desejados h1, .newsletter h1 {  
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 20px;
}

.product-image {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

.product-title, .product-price { 
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 20px;
}
.product-price {
    font-size: 14px;
}
.original-price {  
    color: #B6B6B6;  
    text-decoration:line-through;
}

.final-price {
    color: #F7595E;    
}

.floating-text {
    font-size: 12px;
    font-weight: normal;
    text-transform: lowercase;
    padding: 5px;
    color: #FFFFFF;
}

.black-box {
    background-color: #000000;
    float: left;
}

.blue-box {
    background-color: #0082a7;
    float: right;
}

.pink-box {
    background-color: #de006f;
    position: absolute;
    top: 30px;
    right: 15px;
}

.btn-comprar {
    background-color: white;
    border: 1px solid #009200;
    border-radius: 0;
}

.sacola {
    max-width: 20px;
    max-height: 20px;
}

.comprar {
    font-size: 14px;
    font-weight: bold;
    color: #009200;
    text-transform: uppercase;
    padding-left: 5px;
}

.newsletter {
    background-color: #E3E3E3;
}

.banner {
    background-color: #323232;
    width: 392px;
    height: 217px;
    margin-left: 100px;
    margin-right: 50px;
}

.banner p {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 217px;
    text-transform: uppercase;
}

.contato-title {    
    text-transform: uppercase;
}

.contato-title, .form-email, .social-buttons { 
    font-size: 14px;
    font-weight: normal;
    color: #323232;
    padding-bottom: 40px;
}

.email {
    width: 350px;
    border-bottom: 2px solid #323232;
    padding-bottom: 5px;
}

.btn-ok {
    width: 145px;
    background-color: #323232;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    margin-left: 50px;
}

.email, .btn-ok, .btn-social {
    display: inline-block;
}

.btn-social {
    width: 38px;
    height: 38px;
    background-color: #FFFFFF;
    color: #323232;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer-bar {    
    background-color: #323232;
    padding-top: 20px;
    color: #FFFFFF;
}

.footer-bar h3, .compra-segura h3 {       
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer-menu {    
    line-height: 1em;
}

.footer-menu, .footer-menu-inline, .footer-menu-atendimento {
    font-size: 12px;
    font-weight: normal;
}

.footer-menu-inline {
    display: inline-block;
}

.footer-menu-inline {
    padding-top: 40px;
    margin-right: 20px;
}

.footer-bar .logo {
    padding-top: 20px;    
}

.footer-menu-atendimento {
    line-height: 0.5em;
}

.footer-menu-atendimento span {
    font-size: 18px;
}

.footer-bar {
    padding-bottom: 20px;
}

.compra-segura {
    background-color: #E3E3E3;
    padding-top: 10px;
}

.form-pag {
    display: inline-block;
    padding-top: 20px;
}